---
layout: archive
title: "Intellectual Property"
permalink: /intellectual-property/
author_profile: true
---

{% include base_path %}

<div class="wordwrap">Patents, design registrations, and software developed as part of my research.</div>

<div class="pub-list">
{% assign ip_categories = "patents,designs,software" | split: "," %}
{% for cat_key in ip_categories %}
  {% assign title_shown = false %}
  {% for post in site.publications reversed %}
    {% if post.category != cat_key %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      <h2 class="pub-list__heading">{{ site.publication_category[cat_key].title }}</h2><hr />
      {% assign title_shown = true %}
    {% endunless %}
    {% include archive-single-pub.html %}
  {% endfor %}
{% endfor %}
</div>

<p class="pub-list__footnote">Looking for journal articles? See <a href="/publications/">Publications</a>.</p>
